body {
  font-family: Nunito, sans-serif;
  color: #1c1c1c;
}

h1, h2, h3 {
            font-family: Asap, sans-serif;
            color: #000000;
}

.button {
  color: #1c1c1c;
  background-color: #f1f1f1;
  text-decoration: none;
  padding: 10px 30px;
  font-size: .9em;
  border-radius: 3px;
                         
}

/* Navegacao */

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 39%, rgba(0,212,255,1) 100%);
}

nav > a {
        text-decoration: none;
        color: #ffffff;
        font-weight: 800;
        font-size: 32px;
        font-family: 'New Tegomin', serif;
}

nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
        width: 100%;
}

nav ul li {
          text-align: center;
          width: 100%
}

nav ul li a {
            display: inline-block;
            padding: 10px 0;
            width: 100%;
            text-decoration: none;
            color: #FFFFFF;
}

/* Header */

header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("./img/workspace1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #FFFFFF;
        text-align: center;
        padding: 20px;
}

header h1 {
            color: #FFFFFF;
}

header p {
  margin-bottom: 2em;

}

#whoami {
        margin: 0.05%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px 10px 20px 20px;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 39%, rgba(0,212,255,1) 100%);
}

section #whoami {
  background-image: url("./img/css-screen.jpg");

}

#whoami h2 {
            color: #FFFFFF;

}

#whoami p {
          margin-bottom: 2.5em;
          max-width: 1000px;
          color: #FFFFFF;
}

#artigos {
  margin: 0.05%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 10px 20px 20px;
  color: #FFFFFF;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 39%, rgba(0,212,255,1) 100%);
}

#artigos h2 {
            color: #FFFFFF;
}

#exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}

#exp div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 30px;
        border-style: outset;
        border-radius: 12px;
}

#exp div p{
  word-wrap: break-word;
}

#fotos {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;

}

#fotos h2 {
          margin-bottom: 20px;
}

#fotos img {
  width: 100%;
}

#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;    
  padding: 20px;

}

#contato h2 {
          color: #000000
}

/* footer */

footer {
        text-align: center;
        padding: 10px;
        background-color: #191970;
        color: #FFFFFF;
}

footer a {
          text-decoration: none;
          color: #00FFFF;
}

@media screen and (min-width: 768px){
    
  /*nav*/

  nav{
        flex-direction: row;
        justify-content: space-around;
  }

  nav ul {
          flex-direction: row;
          width: 70%;
  }

  /*header*/

  header {
          height: 600px;
          height: 60vh;
          justify-content: center;
  }

  /*Who Am I*/

  #whoami {
    height: 250;
    height: 30vh;
    justify-content: center;
    min-height: 250px;
  }

  /*Experiencia*/

  #exp {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
  }

  #exp h2 {
          text-align: center;
          width: 100%;
  }

  #exp div {
            flex-grow: 1;
            flex-basis: 150px;
            padding: 0 10px;
  }

  /*fotos*/

  #fotos {
          flex-direction: row;
          flex-wrap: wrap;

  }

  #fotos h2 {
    width: 100%;
    text-align: center;
  }

  #fotos img {
          width: 33.3333333%;
  }
  
  /*Contato*/

  #contato {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          max-width: 500px;
          margin: 0 auto;
  }

  #contato h2, #contato p {
              width: 100%;
  }

}